h1{
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  /*width: 80%;
  pa*/dding-top: 80%;
}

.row {
}

.col {
  border: 2px solid red;
  background-color: green;
  width: 64px;
  height: 64px;
}

.circle {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.face {
  background-size: 100%;
  background-size: 100%;
  background-image: url('../img/face.png');
}

.butt {
  background-size: 100%;
  background-size: 100%;
  background-image: url('../img/butt.png');
  background-image: no-repeat;
}

.center {
  text-align: center;
  margin: auto;
}

.button {
  text-align: center;
  margin: auto;
}
